
/*LOGIN*/
.section-container.bg-login{
    background: rgba(0, 0, 0, 0.6) no-repeat center/cover url(../img/bg-login.jpg);
    background-blend-mode: darken;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
     
}

.bg-overlay{
    background-color: var(--rich-black);
    
}

.login-form{
    width: 400px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    margin: 0 auto;
    border-radius: 10px;
    gap: 20px;
    padding: 70px 0;
    opacity: 100;
}

i.icon-log{
    color: var(--gray); 
    font-size: 25px;
    margin: 15px;
}

.login-form input{
    font-size: 20px;
    color: var(--rich-black);
    border: 0;
    padding: 10px 5px;
    width: 80%;
    background-color: whitesmoke;
    border-bottom: 1px solid var(--gray);

}

.login-form input::placeholder{
    color: var(--gray);
}

.login-form input:focus , .login-form input:active{
    border: none;
    outline: none;

}

.title-login{
    margin: 40px 0;
    
}

.btn-login{
    background-color: var(--rich-black);
    border-radius: 10px;
    font-size: 25px;
    font-weight: var(--bolder);
    padding: 10px;
    text-transform: uppercase;
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
}

.btn-login:hover{
    background-color: var(--gray);
    transition: all 0.5s ease-in-out;
}

.btn-register-login{
    color: var(--gray);

}

.btn-register-login:hover{
    color: var(--rich-black);
    font-weight: var(--bolder);

}

/*cellphones*/
@media (max-width:576px){
    .login-form{
        width: 100%;
        border-radius: 0;
    }
}

/*REGISTER*/

.section-container.bg-register{
    background-color: var(--rich-black);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container-register{
    background-color: var(--beige);
    width: 50vw;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}

.container-register h2{
    color: var(--rich-black);
    font-size: 24px;

}

.nav-back{
    margin: 15px 0;
}

.nav-back i, .nav-back a{
    color: var(--rich-black);
    font-weight: var(--bolder);
}

.nav-back i{
    padding: 0 5px 0 0;
    font-size: 20px;
}

.img-register{
    background: rgba(0, 0, 0, 0.2) no-repeat 20% 0%/cover url(../img/bg-register.jpg);
    background-blend-mode: darken;
    width: 60%;
    height: 100%;
    border-radius: 0px;
}

.form-register{
    width: 40%;
    padding: 0 30px;
}

.form-register form{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    gap: 10px;
    
}

.form-register label{
    color: var(--rich-black);
    font-weight: var(--medium);
    padding-top: 5px;
}

.form-register form input{
    padding: 10px 5px;
    border-radius: 5px;
    color: var(--rich-black);
    background-color: var(--beige);
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--rich-black);
}

.form-register form input:required:focus:valid {
    background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat 95% 50% ;
    background-size: 25px;
}

.form-register form input:focus:invalid {
    background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50% ;
    background-size: 25px;
}

.btn-register{
    padding: 5px 0;
    margin: 10px 0 ;
    border-radius: 5px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: var(--rich-black);
    color: whitesmoke;
    transition: all 0.5s ease-in;
    border: 0;
    cursor: pointer;
}

.btn-register:hover{
    background-color: var(--red);
    border: 0;
    color: whitesmoke;
    transition: all 0.5s ease-out;
}

/*tablet*/
@media (max-width:972px){
    .container-register{
        width: 100vw;
        height: 100vh;
    }

    .img-register{
        background-position: 45% 0;
    }
}

/*Cellphones*/
@media (max-width: 576px){
    .container-register{
        flex-direction: column;
        
        
    }
    .img-register{
        order: 3;
        width: 100%;
        
    }

    .form-register{
        width: 90%;
        margin: 40px 0;
    }
}
